body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'poppins';
  color: #fff;
  background-color: #343434;
}

.container {
  width: 26%;
}
.card {
  border-radius: 2em;
  background-color: #343434;
  box-shadow: 1em 4em 5em #191b1b, -1em -1em 5em #595959;
  padding: 3%;
  text-align: center;
}

.card h4 {
  font-size: 4rem;
  font-weight: 400;
  margin: 1rem 0;
}

img #icon {
  width: 20%;
}
h6 #weather {
  text-transform: capitalize;
}

button.refresh {
  display: block;
  width: 5rem;
  margin: 1em auto;
  background: transparent;
  border: 0;
  color: #9c9c9d;
  font-size: 2rem;
  height: 5rem;
  border-radius: 50%;
  box-shadow: 0.1em 0.2em 0.2em #252525, 0.1em 0.4em 4em #4a4a4a;
}

button.refresh:hover {
  box-shadow: inset 0.1em 0.2em 0.2em #252525, inset 0.1em 0.4em 4em #4a4a4a;
}
